
# =========================
# ENVIRONNEMENT
# =========================
.env
.env.*

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# PYTEST
# =========================
.pytest_cache/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# DATA & VECTOR STORE
# =========================
vector_store/
*.pkl
*.faiss

# =========================
# OS
# =========================
.DS_Store
Thumbs.db




