# Ignorer le fichier de configuration local
config.py

# Environnement virtuel
venv/
.env

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Données volumineuses / sorties
data/
vector_store/


# OS
.DS_Store
Thumbs.db

